.blank-large {
    width: 100%;
    max-width: 100%;
    height: 5vh;
  }
  .blank-medium {
    width: 100%;
    max-width: 100%;
    height: 3vh;
  }
  .blank-small {
      width: 100%;
      max-width: 100%;
      height: 1vh;
    }
  