.blank1 {
  width: 100%;
  max-width: 100%;
  height: 1vh;
}

.blank2 {
  width: 100%;
  max-width: 100%;
  height: 2vh;
}

.blank3 {
  width: 100%;
  max-width: 100%;
  height: 3vh;
}

.blank4 {
  width: 100%;
  max-width: 100%;
  height: 4vh;
}

.blank5 {
  width: 100%;
  max-width: 100%;
  height: 5vh;
}

.blank6 {
  width: 100%;
  max-width: 100%;
  height: 6vh;
}

.blank7 {
  width: 100%;
  max-width: 100%;
  height: 7vh;
}

.blank8 {
  width: 100%;
  max-width: 100%;
  height: 8vh;
}

.blank9 {
  width: 100%;
  max-width: 100%;
  height: 9vh;
}

.blank10 {
  width: 100%;
  max-width: 100%;
  height: 10vh;
}

.blank11 {
  width: 100%;
  max-width: 100%;
  height: 11vh;
}

.blank12 {
  width: 100%;
  max-width: 100%;
  height: 12vh;
}
.blank13 {
  width: 100%;
  max-width: 100%;
  height: 13vh;
}
.blank14 {
  width: 100%;
  max-width: 100%;
  height: 14vh;
}
.blank15 {
  width: 100%;
  max-width: 100%;
  height: 15vh;
}