@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background-transparent: #111418c9;
}

.contato-img-div {
  background: url(/src/img/exemplo22.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 100%;
  max-width: 100%;
  height: 90vh;
  overflow: hidden;
}

.contato-img-fade {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 90vh;
  display: flex;
justify-content: center;
align-items: center;
}

.contato-logo img {
  width: 100%;
  height: 300px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.contato-logo {
  width: fit-content;
  height: fit-content;
}

.contato-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contato-card {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 100%;
  display: flex;
  width: 95%;
  align-items: center;
  height: 70vh;
  overflow: hidden;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 20px #bebebe;
  transition: all 300ms;
}

.contato-card:hover {
  transform: scale(1.007);
}

.contato-card img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100vh;
}

.contato-card-title {
  width: 100%;
}

.contato-card-title p {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.contato-form-text {
  position: relative;
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
}

.form-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: fit-content repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

.nome-completo {
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  max-width: 100%;
  height: fit-content;
}

.telefone {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: fit-content;
}

.email {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: fit-content;
}

.mensagem {
  grid-area: 3 / 1 / 4 / 3;
  width: 100%;
  height: auto;
}

/* From uiverse.io by @alexruix */
.input-group {
  position: relative;
}

.input-name {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 10px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-tel {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 10px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 10px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-msg {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  width: 100%;
  min-height: 1vh;
  resize: none;
  max-width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 10px;
  background: none;
  padding: 1rem;
  height: 30vh;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  font-family: "Poppins", sans-serif;
  color: #292929;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--logo-blue);
}

.input-tel:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--logo-blue);
}

.input-email:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--logo-blue);
}

.input-msg:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--logo-blue);
}

.input-name:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  left: 0.4%;
  color: var(--logo-blue);
}

.input-tel:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  left: 2%;
  color: var(--logo-blue);
}

.input-email:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  left: 2%;
  color: var(--logo-blue);
}

.input-msg:focus~label,
textarea:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  left: 0.5%;
  color: var(--logo-blue);
}

/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.contato-btn-submit {
  width: 9rem;
  height: auto;
}

button.contato-btn-submit .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--logo-light-blue-10);
  border-radius: 1.625rem;
}

button.contato-btn-submit .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.contato-btn-submit .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.contato-btn-submit .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.319rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.contato-btn-submit .contato-btn-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .contato-btn-text {
  color: #fff;
}