@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --logo-dark-brown: #8d6b38;
    --background: #111418;
    --background-transparent: #111418c9;

}

.home-img-div{
    background: url(/src/img/exemplo2_ps.png) no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    height: 90vh;
    overflow: hidden;
}

.home-img-title-div{
    max-width: 40%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.home-img-title-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color: white;
    text-align: center;
}

.home-img-subtitle-div{
    max-width: 40%;
    position: relative;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}
.home-img-subtitle-h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 19px;
    color: white;
    text-align: center;
}

.home-btn-div{
    max-width: 40%;
    position: relative;
    top: 25%;
    max-width: 100%;
    text-align: center;
    height: 55px;
}

.home-btn-a{
    position: relative;
    font-size: 18px;
    text-decoration: none;
    padding: 9px 18px;
    display: inline-block;
    border-radius: 1em;
    transition: all .2s;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
   }
   
   .home-btn-a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .home-btn-a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .home-btn-a::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .home-btn-a::after {
    background-color: #fff;
   }
   
   .home-btn-a:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

.home-img-gradient-effect{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 9.9vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 36%, rgba(253,187,45,0) 100%);    
}

@media screen and (max-width: 850px){
    .home-img-div{
        height: 90vh;
        background-position: center;
    }
    .home-img-title-div{
        display: inline-block;
        font-size: 13px;
        top: 15%;
        height: 20vh;
        max-width: 100%;
        width: 70%;
    }
    .home-img-subtitle-div{
        position: absolute;
    }
}

@media screen and (max-width:500px){
    .home-img-title-h1{
        font-size: 28px;
    }
    .home-btn-a{
        font-size: 9px;
    }
}

@media screen and (max-width:400px){
    .home-img-title-h1{
        font-size: 24px;
    }
}

@media screen and (max-width:350px){
    .home-img-title-h1{
        font-size: 20px;
    }
}