.div-imagem-home{
    background: url(/src/img/exemplo2.webp) no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    height: 85vh;
    overflow: hidden;
}

.container-texto-principal{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 40%;
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.container-subtitle{
    font-family: 'Poppins', ;
    font-size: 14px;
    max-width: 40%;
    color: white;
    text-align: center;
    position: relative;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 900px){
    .div-imagem-home{
        height: 100vh;
        background-position: center;
    }

}