@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background-transparent: #111418c9;
  --background: #111418;
}


/* Home image */
.home-img-fade {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-img-div {
  background: url(/src/img/img1_169.png) no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Home Text Title */
.home-img-title {
  margin: 10px;
  max-width: 50%;
}

.home-img-title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

/* Home Text Subtitle */
.home-img-subtitle {
  margin-bottom: 30px;
  max-width: 45%;
}

.home-img-subtitle h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 29px;
  color: white;
  text-align: center;
}


/* Home Button */
.home-btn {
  max-width: 40%;
}

.home-btn a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.home-btn a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--logo-dark-blue-20);
  border-radius: 5rem;
  z-index: -2;
}

.home-btn a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--logo-dark-blue-30);
  transition: all 0.3s;
  border-radius: 5rem;
  z-index: -1;
}

.home-btn a:hover {
  color: #fff;
}

.home-btn a:hover:before {
  width: 100%;
}
.home-sobrenos{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: var(--logo-light-blue-50);
}

.home-sobrenos img{
  height: 450px;
  aspect-ratio: 4/3;
  margin-right: 25px;
}
.home-sobrenos img:hover{
  transform: scale(1.005);
  transition: all ease 0.3s;
}

.home-sobrenos-text{
  width: 55%;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-sobrenos-text p{
  margin-bottom: 30px;
  width: 70%;
  font-size: 1.5rem;
}
.home-sobrenos-text h1{
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 600;
}


.home-btn-sobrenos {
  background: linear-gradient(
    45deg,
    rgba(77, 142, 201, 1) 0%,
    rgba(62, 114, 161, 1) 100%
  );
}

.home-btn-sobrenos a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 17px;
}

.home-btn-sobrenos {
  cursor: pointer;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 12px;
  border: 0px;
  width: fit-content;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px var(--logo-dark-blue-10);
}

.home-btn-sobrenos:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.home-btn-sobrenos:active {
  transform: scale(0.95);
}

.square{
  width: 30px;
  height: 30px;
  margin-top: -15px;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
}

.white{
  background-color: white;
}

.blue{
  background-color: var(--logo-light-blue-50);
}


.home-projetos{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.home-projetos-text{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.home-projetos-text h1{
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.home-projetos-text p{
  font-size: 1.1rem;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .home-img-title {
    margin: 10px;
    max-width: 85%;
  }
  
  .home-img-title h1 {
    font-size: 25px;
  }
  
  /* Home Text Subtitle */
  .home-img-subtitle {
    margin-bottom: 30px;
    max-width: 90%;
  }
  
  .home-img-subtitle h1 {
    font-size: 18px;
  }
  
  .home-btn {
    max-width: 60%;
  }

  .home-sobrenos{
    flex-direction: column;
    height: 650px;
  }
  
  .home-sobrenos img{
    height: 250px;
    margin-right: 0px;
  }
  
  .home-sobrenos-text{
    width: calc(100% - 40px);
  }
  
  .home-sobrenos-text p{
    width: 90%;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .home-sobrenos-text h1{
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .home-btn-sobrenos a{
    font-size: 14px;
  }
  
  .home-btn-sobrenos {
    padding: 12px 20px;
    margin-bottom: 40px;
  }

  .home-projetos{
    flex-direction: column;
    height: 650px;
  }
  
  .home-projetos-text{
    margin: 15px 20px 0px 20px;
    max-width: 100%;
  }
  
  .home-projetos .home-projetos-text h1{
    font-size:20px;
    margin-bottom: 15px;
  }
  .home-projetos .home-projetos-text p{
    font-size: 14px;
  }
  
  .square{
    left: 46.5%;
  }
}