@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background: #111418;
  --background-tp: #111418de;
}

*{
    margin: 0;
    padding: 0;
}

.nav__link{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    margin: 8px;
    background: 
    linear-gradient(to right, rgba(39, 71, 101, 1), rgba(39, 71, 101, 1)),
    linear-gradient(to right, rgba(62, 114, 161, 1), rgba(113, 165, 212, 1), rgba(148, 187, 223, 1));
  background-size: 100% 0.13em, 0 0.13em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}


.in{
    background: 
    linear-gradient(to right, rgba(39, 71, 101, 1), rgba(39, 71, 101, 1)),
    linear-gradient(to right, rgba(62, 114, 161, 1), rgba(113, 165, 212, 1), rgba(148, 187, 223, 1));
  background-size: 0 0.13em, 100% 0.13em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav__link:hover,
.nav__link:focus{
    background-size: 0 0.13em, 100% 0.13em
}
.nav__list{
    list-style: none;
    display: flex;
     align-items: center;
}
.nav__item{
    margin: 0 8px;
}

header{ 
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    background-color: var(--logo-dark-blue-50);
    justify-content: space-around;
    padding: .5rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;   
}
.logo img{
    width: 50px;
}

.header__menu, .header__close{
    display: none;
}

@media screen and (max-width: 650px) {
    header{
        width: 100%;
        position: fixed;
        z-index: 5;
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo img{
        cursor: pointer;
        width: 30px;
    }
    .header__menu{
        margin-right: 10%;
        width: 30px;
        cursor: pointer;
        display: inline;
        filter: brightness(0) invert(1);
        font-size: 24px;
    }
    .nav{
        position: fixed;
        top: 48px;
        right: -100%;
        background-color:var(--logo-dark-blue-50);
        color: white;
        width: 100%;
        height: fit-content;
        padding: 24px 0;
        z-index: 5;
        transition: .5s;
    }

    .nav__link{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
    }

    .nav__item{
        margin: 5px 0;
    }

    .show{
        right:  0;
    }


}