@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background: #111418;
  --background-transparent: #111418c9;
}

.sobre-img-div {
  background: url(https://i.imgur.com/MASLwNz.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sobre-img-fade {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-sobre img {
  width: 100%;
  height: 300px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.container-2 > img{
  
}

.container-1{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 p{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 800px;
  text-align: center;
}

.square{
  width: 30px;
  height: 30px;
  margin-top: -15px;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
}

.white{
  background-color: white;
}

.blue{
  background-color: var(--logo-light-blue-50);
}

.container-2, .container-4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-2 img, .container-4 img{
  height: 450px;
  aspect-ratio: 4/3;
  margin: 30px;
}

.container-2 p, .container-4 p, .container-3 p{
  margin-top: 30px;
  width: 600px;
}

.container-2 .text, .container-4 .text{
  margin: 30px 0 0 130px;
  font-family: "Poppins", sans-serif;
  width: auto;
  display: flex;
  flex-direction: column;
}

.container-3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-3 img{
  height: 450px;
  aspect-ratio: 4/3;
  margin: 30px;
}

.container-3 .text{
  margin: 30px 100px 0 30px;
  font-family: "Poppins", sans-serif;
  width: auto;
  display: flex;
  flex-direction: column;
}

.container-5{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.container-5 h2{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
}

.text-box p{
  margin: 30px;
  font-size: 25px;
  text-align: center;
}

.text-box{
  border: var(--logo-light-blue-60) solid 5px;
  display: flex;
  align-items: center;
  height: auto;
  width: 800px;
  flex-direction: column-reverse;
}


.square-msg{
  border-right: var(--logo-light-blue-60) solid 5px;
  border-bottom: var(--logo-light-blue-60) solid 5px;
  width: 30px;
  height: 30px;
  transform: translateY(60%) rotate(45deg);
  position: absolute;
  background-color: white;
}

.container-5 img{
  margin: 40px 0 10px 0;
  border-radius: 9999px;
  width: 100px;
  aspect-ratio: 1;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin-bottom: 30px;
}

.container-5 .profile p{
  font-weight: 600;
}

.container-5 span a{
  color: var(--logo-blue);
  text-decoration: none;
  cursor: pointer;
}

.container-5 span a:hover{
  text-decoration: underline;
}

.sobre-final{
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--logo-light-blue-60);
}

.sobre-final h2{
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-weight: 500;
}

.sobre-final p{
  font-size: 20px;
  margin-bottom: 20px;
}
.sobre-final a{
  text-decoration: none;
  color: var(--logo-dark-blue-40);
}
.sobre-final a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .logo-sobre img {
    height: 150px;
  }
  .container-1 p{
    font-size: 15px;
    margin: 25px;
  }
  .container-1{
    height: 200px;
  }
  .container-2, .container-4{
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  
  .container-2 img, .container-4 img{
    height: 240px;
    aspect-ratio: 4/3;
    margin: 40px 0 0 0;
  }
  .container-2 p, .container-4 p, .container-3 p{
    margin-top: 30px;
    width: 90%;
    font-size: 14px;
  }

  .container-2 h1, .container-4 h1, .container-3 h1{
    margin-top: 30px;
    width: auto;
    font-size: 20px;
  }
  
  .container-2 .text, .container-4 .text{
    margin: 30px 0 0 20px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .container-3{
    flex-direction: column;
    align-items: center;
  }
  
  .container-3 img{
    height: 240px;
  }

  .container-3 .text{
    width: 100%;
    margin: 0;
  }
  .container-3 .text h1{
    font-size: 20px;
    margin-left: 20px;
  }
  .container-3 .text p{
    font-size: 14px;
    width: 90%;
    margin-left: 20px;
  }
 
  .container-5 h2{
    font-size: 20px;
  }
  
  .text-box p{
    font-size: 16px;
  }
  
  .text-box{
    width: 80%;
  }
  

.sobre-final h2{
  font-size: 18px;
}

.sobre-final p{
  font-size: 14px;
}
.sobre-final a{
  text-decoration: none;
  color: var(--logo-dark-blue-40);
}
.sobre-final a:hover{
  text-decoration: underline;
}

}