:root {
  --red: #ff4246;
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --green: #90c985;
  --blue: #79b2e8;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}


.home-card-info-title {
  width: 100%;
}

.home-card-info-title p {
  padding-left: 3vw;
  text-align: left;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.info-container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container .card-1,
.card-2,
.card-3 {
  border-top: #ff4246 5px solid;
  margin: 10px;
  width: 400px;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.29);
}

.info-container .card-1 h2,
.card-1 h2,
.card-2 h2,
.card-3 h2 {
  margin: 0 0 10px 0;
  font-size: 30px;
}
.info-container .card-1 p,
.card-2 p,
.card-3 p {
  text-align: justify;
  margin: 0;
  font-size: 15px;
}
.info-container .card-1 img,
.card-2 img,
.card-2 img,
.card-3 img {
  height: 34px;
  float: right;
}
