:root{
  --height: 450px;
  --width: 750px;
}


.slide-container {
  display: flex;
}

#slider {
  border-radius: 12px;
  margin: auto;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: var(--width);
  height: var(--height);
  box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 10%);
  margin: 20px;
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  left: 0;
  transition: all 750ms ease;
}

#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider #slideWrap li img {
  /* imagens exemplo */
  aspect-ratio: 16/9;
  width:var(--width);
  height: var(--height);
}

.svg {
  bottom: 243px;
  position: relative;
  width: var(--width);
  z-index: 2;
}

.svg img {
  cursor: pointer;
  height: 50px;
}
#prev {
  margin-left: 5px;
  float: left;
}
#next {
  margin-right: 5px;
  float: right;
}

#prev,
#next {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

@media screen and (max-width: 650px) {

}
