:root {
  --height: 450px;
  --width: 750px;
  --heightm: 187px;
  --widthm: 292px;
}

.slider-container {
  display: flex;
}

#slider {
  border-radius: 12px;
  margin: auto;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: var(--width);
  height: var(--height);
  box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 10%);
  margin: 20px;
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  left: 0;
  transition: all 750ms ease;
}

#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider #slideWrap li img {
  aspect-ratio: 16/9;
  width: var(--width);
  height: var(--height);
}

.svg {
  bottom: 243px;
  position: relative;
  width: var(--width);
  z-index: 2;
}

.svg img {
  cursor: pointer;
  height: 50px;
}
#prev {
  margin-left: 5px;
  float: left;
}
#next {
  margin-right: 5px;
  float: right;
}

#prev,
#next {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

#slideWrap{

}

.home-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.home-projetos-text {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.home-projetos-text h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.home-projetos-text p {
  font-size: 1.1rem;
}

@media screen and (max-width: 650px) {
  #slider #slideWrap li img {
    width: var(--widthm);
    height: var(--heightm);
  }

  #slider {
    width: var(--widthm);
    height: var(--heightm);
  }

  .svg {
    bottom: calc(var(--heightm) / 1.8);
    width: var(--widthm);
  }

  .svg img {
    height: 35px;
  }
  .slider-container {
    display: flex;
  }
}
