.projeto-background-div {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projeto-background-div h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
}

.projeto-background-div h1.sobre-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 300;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  left: 0;
  transition: all 750ms ease;
}

#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider ul li img {
  width: 1000px;
  height: 600px;
}

#slider #next {
  position: relative;
  height: 40px;
  z-index: 3;
  right: 995px;
}

#slider #prev {
  position: relative;
  height: 40px;
  z-index: 3;
  left: -85px;
}

#prev, #next{
  background-color: rgba(0, 0, 0, .3);
  border-radius: 9999px;
}
