.home-sobre-card {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sobre-card-grid {
    border-radius: 12px;
    box-shadow: 10px 10px 29px -3px rgba(0, 0, 0, 0.27);
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 50vh;
    width: 75vw;
  }
  
  .sobre-card-col1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
  }
  
  .sobre-card-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
  }
  
  .sobre-card-col1 h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
  }
  
  .sobre-card-col1 p {
    margin: 40px;
    font-size: 20px;
  }
  
  .sobre-card-col1 h1, .sobre-card-col1 a, .sobre-card-col1 p {
    font-family: "Poppins", sans-serif;
  }
  
  .btn {
  
    background: linear-gradient(45deg, rgba(77,142,201,1) 0%, rgba(62,114,161,1) 100%);
  }
  
  .btn {
    cursor: pointer;
    margin-left: 60px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    font-family: "Poppins", sans-serif;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px var(--logo-dark-blue-10);
  }
  
  .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .sobre-card-col2 img {
    height: 100%;
  }