:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background-transparent: #111418c9;
  --background: #111418;
  --grey: #d3d3d3;
  --dark-grey: #c0c0c0;
}

.navigation ul li:nth-child(2) {
  background-color: var(--logo-dark-blue-60);
}

.pedidos-container {
  height: 100%;
  margin: 50px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--grey);
}

.pedidos-parent{
  background-color: var(--dark-grey);
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.1);
  padding: 12px;
  
}

.pedidos-container .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pedidos-container .parent-title{
  display: flex;
  align-items: center;
  padding: 10px;
}

.pedidos-container .parent-title{
  font-size: 30px;
}

.parent-title lord-icon{
  margin-right: 10px;
  height: 35px;
  width: 35px;

}

.pedidos-container .title p {
  font-size: 2rem;
  color: black;
  text-align: left;
}

.search{
  position: relative;
  width: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
}


.search label{
  position: relative;
  width: 100%;
}

.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px 5px 38px;
  outline: none;
  border:  1px solid rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

.search label .fa {
  position: absolute;
  left: 15px;
  top: 13px;
  font-size: 17px;
}

table{
  width: 100%;
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
}


table thead tr th{
  padding: 0 5px;
  font-size: 20px;
  border-bottom: 1px solid var(--logo-dark-blue-40);
}

td{
  padding: 5px 5px;
  border-bottom: 1px solid var(--logo-dark-blue-40);
}


.table-container{
  padding: 12px;
}

.btn-excluir {
  background: linear-gradient(
    45deg,
    rgba(77, 142, 201, 1) 0%,
    rgba(62, 114, 161, 1) 100%
  );
}

.btn-excluir {
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 12px;
  border: 0px;
  width: fit-content;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px var(--logo-dark-blue-10);
}

.btn-float{
  display: flex;
  align-items: center;
}

button{
  position: relative;
}

.btn-excluir:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-excluir:active {
  transform: scale(0.95);
}

.checkItem {
  height: 1.2rem;
  width: 1.2rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: #F2ECFF;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
 }
 
 .checkItem::after {
  content: '';
  display: block;
  height: 0.6rem;
  width: .22rem;
  border-bottom: .31rem solid white;
  border-right: .31rem solid white;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 21%;
  transition: .25s ease;
 }
 
 .checkItem::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: var(--logo-blue);
  border-radius: 50%;
  opacity: .5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
 }
 
 .checkItem:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
 }
 
 .checkItem:checked::after {
  opacity: 100%;
 }
 

 @media screen and (max-width: 950px) {
  
  .pedidos-container{
    margin: 15px;
  }

  .pedidos-container .title p {
    font-size: 1.3rem;
  }


  @media screen and (max-width: 830px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 0px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      padding: 3px;
    }
    
    table td::before {
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    table td:nth-child(4){
      border-bottom: 0;
    }

    table td:first-child{
      border-top: 2px solid #ddd;
    }
  }
  

}


@media screen and (max-width: 1100px) {
  .dash-container .navigation{
    width: 60px;
  }

  .main{
    width: calc(100% - 60px);
    left: 60px;
  }
  
  .main .topbar{
    display: none;
  }
}