:root {
  --logo-blue: #4d8ec9;
  --logo-dark-blue-10: #4580b5;
  --logo-dark-blue-20: #3e72a1;
  --logo-dark-blue-30: #36638d;
  --logo-dark-blue-40: #2e5579;
  --logo-dark-blue-50: #274765;
  --logo-dark-blue-60: #1f3950;
  --logo-dark-blue-70: #172b3c;
  --logo-dark-blue-80: #0f1c28;
  --logo-light-blue-10: #5f99ce;
  --logo-light-blue-20: #71a5d4;
  --logo-light-blue-30: #82b0d9;
  --logo-light-blue-40: #94bbdf;
  --logo-light-blue-50: #a6c7e4;
  --logo-light-blue-60: #b8d2e9;
  --logo-light-blue-70: #caddef;
  --logo-light-blue-80: #dbe8f4;
  --logo-light-blue-90: #edf4fa;
  --background-transparent: #111418c9;
  --background: #111418;
  --grey: #d3d3d3;
  --dark-grey: #c0c0c0;
}

.navigation ul li:nth-child(4) {
  background-color: var(--logo-dark-blue-60);
}

.projetos-parent{
  height: fit-content;
  margin: 50px;
  background-color: #d3d3d3;
  border-radius: 12px;
  overflow: hidden;
}

table{
  width: 100%;
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
}


table thead tr th{
  padding: 0 5px;
  font-size: 20px;
  border-bottom: 1px solid var(--logo-dark-blue-40);
}

td{
  padding: 5px 5px;
  border-bottom: 1px solid var(--logo-dark-blue-40);
}


.imgs{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 10px;
}

.teste{
  float: left;
  width: 300px;
  padding: 10px;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 10px;
  background-size: cover;
}

a{
  text-decoration: none;
}

.projetos-container {
  background-color: var(--dark-grey);
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.1);
  height: fit-content;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 12px;
}

.projetos-container .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projetos-container .parent-title {
  display: flex;
  align-items: center;
  padding: 10px;
}

.projetos-container .parent-title {
  font-size: 30px;
}

.parent-title lord-icon {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.projetos-container .title p {
  font-size: 2rem;
  color: black;
  text-align: left;
}

.search {
  position: relative;
  width: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px 5px 38px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

.search label .fa {
  position: absolute;
  left: 15px;
  top: 13px;
  font-size: 17px;
}

.buttons {
  display: flex;
  align-items: center;
}

.icon-btn {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: var(--logo-blue);
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-add, .btn-delete {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-add, .add-btn:hover .btn-delete {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: var(--logo-blue);
  overflow: hidden;
}

.green::before, .green::after {
  background: green;
}

.red::before, .red::after {
  background: red;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.popup .content {
  aspect-ratio: 1;
  width: 650px;
  background: white;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 15;
  padding: 15px;
}

.popup .content .img{
  width: 100%;
  height: 50%;
  background-image: url("/src/img/img1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.popup .content p{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  margin: 10px;
}


.input-group {
    position: relative;
    margin: 15px 0px 30px 0px;
    display: block;
  }

  .radio-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .radio-group label{
    margin-right: 30px;
  }

  .input-link {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius: 10px;
    background: none;
    padding: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 300;
  }
  
  .user-label {
    position: absolute;
    left: 15px;
    font-family: "Poppins", sans-serif;
    color: #292929;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 300;
  }
  
  .input-link:focus,
  .input-link:valid {
    outline: none;
    border: 1.5px solid var(--logo-blue);
  }
  
  .input-link:focus ~ label,
  .input-link:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 0.2em;
    left: 0.4%;
    color: var(--logo-blue);
  }
  
  
.checkbox {
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 40%);
  height: 1.2rem;
  width: 1.2rem;
  margin: 5px;
  appearance: none;
  position: relative;
  background-color: #d8d8d8;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
 }
 
 .checkbox::after {
  content: '';
  display: block;
  height: 0.6rem;
  width: .22rem;
  border-bottom: .31rem solid white;
  border-right: .31rem solid white;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 47%;
  left: 18.5%;
  transition: .25s ease;
 }
 
 .checkbox::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: var(--logo-blue);
  border-radius: 50%;
  opacity: .5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
 }
 
 .checkbox:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
 }
 
 .checkbox:checked::after {
  opacity: 100%;
 }

 .btn-submit {
  background: linear-gradient(
    45deg,
    rgba(77, 142, 201, 1) 0%,
    rgba(62, 114, 161, 1) 100%
  );
}

.btn-submit-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  cursor: pointer;
  margin: 10px 10px 10px 0;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 12px;
  border: 0px;
  width: fit-content;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px var(--logo-dark-blue-10);
}

.btn-submit:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-submit:active {
  transform: scale(0.95);
}

.popup_delete {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.popup_delete .content {
  aspect-ratio: 1;
  height: 800px;
  width: 75%;
  background: white;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 15;
  padding: 15px;
}

.btn-excluir {
  background: linear-gradient(
    45deg,
    rgba(77, 142, 201, 1) 0%,
    rgba(62, 114, 161, 1) 100%
  );
}

.btn-excluir {
  cursor: pointer;
  margin: 10px 10px 10px 0;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 12px;
  border: 0px;
  width: fit-content;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px var(--logo-dark-blue-10);
}

.btn-excluir:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-excluir:active {
  transform: scale(0.95);
}

.checkItem {
  height: 1.2rem;
  width: 1.2rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: #F2ECFF;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
 }
 
 .checkItem::after {
  content: '';
  display: block;
  height: 0.6rem;
  width: .22rem;
  border-bottom: .31rem solid white;
  border-right: .31rem solid white;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 21%;
  transition: .25s ease;
 }
 
 .checkItem::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: var(--logo-blue);
  border-radius: 50%;
  opacity: .5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
 }
 
 .checkItem:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
 }
 
 .checkItem:checked::after {
  opacity: 100%;
 }
 